@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "CabinetGrotesk";
    src: url('../public/fonts/CabinetGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "CabinetGrotesk";
    src: url('../public/fonts/CabinetGrotesk-Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "CabinetGrotesk";
    src: url('../public/fonts/CabinetGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans";
    src: url('../public/fonts/GeneralSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans";
    src: url('../public/fonts/GeneralSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans";
    src: url('../public/fonts/GeneralSans-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans";
    src: url('../public/fonts/GeneralSans-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    background-color: #F2F0E9;
}

body {
    font-family: 'CabinetGrotesk', sans-serif;
}
